[*.cs]

# IDE0079: Remove unnecessary suppression
dotnet_diagnostic.IDE0079.severity = none

# CS8321: Local function is declared but never used
dotnet_diagnostic.CS8321.severity = none

# CS8321: Local function is declared but never used
dotnet_diagnostic.xUnit1042.severity = none

# CA2254: Template should be a static expression
dotnet_diagnostic.CA2254.severity = none

# CS1574: XML comment has cref attribute that could not be resolved
dotnet_diagnostic.CS1574.severity = none

# CA1050: Declare types in namespaces
dotnet_diagnostic.CA1050.severity = none

# SYSLIB1045: Convert to 'GeneratedRegexAttribute'.
dotnet_diagnostic.SYSLIB1045.severity = none

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = none

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# CS8763: A method marked [DoesNotReturn] should not return.
dotnet_diagnostic.CS8763.severity = none

# CA1806: Do not ignore method results
dotnet_diagnostic.CA1806.severity = none

# IDE0040: Add accessibility modifiers
dotnet_diagnostic.IDE0040.severity = none

# CS8500: This takes the address of, gets the size of, or declares a pointer to a managed type
dotnet_diagnostic.CS8500.severity = none
